{:paths ["src"]
 :deps {io.github.humbleui/humbleui {:git/sha "ce1716bdc3e051142f797b20601423e1de44a8ba"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                     org.clojure/tools.namespace {:mvn/version "1.3.0"}}
        :jvm-opts ["-ea"]}
  :cider {:main-opts ["-m" "user" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
